layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" size="30%" {
            pane cwd="~"
            pane cwd="~"
        }
        pane size="70%" focus=true cwd="~"
    }
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

// pane size=1 borderless=true {
//       plugin location="zellij:status-bar"
//   }
}
