keybinds {
    normal {
        // Pane keybindings
        bind "Ctrl p" { SwitchToMode "pane"; }
        bind "Ctrl n" { NewPane; }
        //bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl l" { MoveFocus "Right"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Alt Right" { MoveFocus "Right"; }
        bind "Alt Left" { MoveFocus "Left"; }
        bind "Alt Shift f" { ToggleFocusFullscreen; }


        unbind "Ctrl s"
        unbind "Ctrl l"
        unbind "Alt ["
        unbind "Alt ]"
        unbind "Alt l"
        unbind "Alt j"
        unbind "Alt k"
        unbind "Ctrl h"
    }
    pane {
        bind "h" { MovePane "Left"; }
        bind "j" { MovePane "Down"; }
        bind "k" { MovePane "Up"; }
        bind "l" { MovePane "Right"; }
        bind "Enter" "Esc" { SwitchToMode "normal"; }
        bind "Ctrl Tab" { GoToNextTab; }
        bind "Ctrl Shift Tab" { GoToPreviousTab; }

    }
    shared_except "locked" {
        bind "Alt Shift Right" { GoToNextTab; }
        bind "Alt Shift Left" { GoToPreviousTab; }
      }
}


// Appearance settings
theme "dracula"
default_layout "main-on-right"
new_tab_template "two-pane"

// Other settings
pane_frames true
auto_layout true

ui {
    pane_frames {
        rounded_corners false
        hide_session_name false

    }
}

session_serialization true
